.container {
    margin-bottom: 20px;
    overflow: auto; 
}

.img-left {
    float: left;
    margin-right: 200px;
    width: 500px;
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
}

.img-right {
    float: right;
    margin-left: 15px;
    width: 200px;
}

.clear-floats {
    clear: both;
}